<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B7FCF7F81EC67FCD00C502B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7FCF80C1EC67FCD00C502B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7FCF8171EC67FCD00C502B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
